header {
    text-align: center;
}
form {text-align: center;}
#top-menu {
    z-index: 20;
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: blue;
    height: 50px;
    position: relative;
  }
  #sub-menu {
    z-index: 10;
    width: 100%;
    background-color: skyblue;
    position: absolute;
    top: 0;
    display: flex;
    transition: top 0.5s ease-out;
    justify-content: space-around;
  }

  a {color: white;
    font-size: larger;
    text-transform: uppercase;
    font-weight: bold;
  }

